@font-face {
	font-family: STIXTwoMath;
	src: url('STIXTwoMath-Regular.otf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Roman.woff2') format('woff2'),
		 url('Cochineal-Roman.woff') format('woff'),
		 url('Cochineal-Roman.otf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Bold.woff2') format('woff2'),
		 url('Cochineal-Bold.woff') format('woff'),
		 url('Cochineal-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Italic.woff2') format('woff2'),
		 url('Cochineal-Italic.woff') format('woff'),
		 url('Cochineal-Italic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Bold Italic.woff2') format('woff2'),
		 url('Cochineal-Bold Italic.woff') format('woff'),
		 url('Cochineal-Bold Italic.otf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
	font-family: Cochineal, serif;
	font-size: 1.1875rem;
}
