@font-face { font-family: Crimson; src: url('Crimson-Roman.otf');       font-weight: normal; font-style: normal; } 
@font-face { font-family: Crimson; src: url('Crimson-Bold.otf');        font-weight: bold;   font-style: normal; } 
@font-face { font-family: Crimson; src: url('Crimson-Italic.otf');      font-weight: normal; font-style: italic; }
@font-face { font-family: Crimson; src: url('Crimson-Bold Italic.otf'); font-weight: bold;   font-style: italic; }

:root {
	--text-width: 925px;
	--text-margin: 30px;
	--page-bg: rgba(255,255,255,0.9);
	--code-bg: rgb(215,215,215);
}

body {
	font-family: Crimson, serif;
	font-size: 23px;
	margin: 0px;
	background-image: url('images/tiling_patern.jpg');

	quotes: "\201C" "\201D";

	display: flex;
	justify-content: center;
	padding-top: min(8vw, 50px);
	padding-bottom: min(8vw, 50px);
}

main {
	position: relative;
	width: min(var(--text-width), 80vw + var(--text-margin));
	padding: var(--text-margin);
	background-color: var(--page-bg);
}

h1 {
	text-align: center;
}

.headinglink {
	color: black;
	text-decoration: none;
}
.headinglink:visited {
	color: black;
}
.sectionmark {
	display: none;
}
.headinglink:hover ~ .sectionmark {
	display: inline;
}

.backarrow {
	text-decoration: none;
	position: absolute;
	color: inherit;
}
.backarrow:visited {
	color: inherit;
}
.date {
	right: var(--text-margin);
	position: absolute;
}

a {
	color: #000050;
}
a:visited {
	color: #480048;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	border-radius: 5px;
	background-color: var(--code-bg);
}

code.block {
	font-size: 18px;
	background-color: transparent;
}

code {
	font-size: 18px;
	border-radius: 5px;
	background-color: var(--code-bg);
}
