@font-face {
	font-family: STIXTwoMath;
	src: url('STIXTwoMath-Regular.otf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Roman.woff2') format('woff2'),
		 url('Cochineal-Roman.woff') format('woff'),
		 url('Cochineal-Roman.otf') format('truetype');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Bold.woff2') format('woff2'),
		 url('Cochineal-Bold.woff') format('woff'),
		 url('Cochineal-Bold.otf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Italic.woff2') format('woff2'),
		 url('Cochineal-Italic.woff') format('woff'),
		 url('Cochineal-Italic.otf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Cochineal;
	src: url('Cochineal-Bold Italic.woff2') format('woff2'),
		 url('Cochineal-Bold Italic.woff') format('woff'),
		 url('Cochineal-Bold Italic.otf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

:root {
	/* If this is changed, update @media queries. */
	--content-width: 39rem;
	--content-margin: 1.5rem;
	--page-bg: rgba(255,255,255,0.9);
	--code-bg: rgb(215,215,215);
}
html {
	/* Account for dynamic viewports on mobile. */
	min-height: 100vh;
	min-height: -webkit-fill-available;
	min-height: 100dvh;
	background-image: url('images/tiling_pattern.png');
	background-attachment: fixed;
}
body {
	font-family: Cochineal, serif;
	font-size: 1.1875rem;
	margin: 0px;
	quotes: "\201C" "\201D";

	display: flex;
	justify-content: center;
	padding-top: min(8vw, 50px);
	padding-bottom: min(8vw, 50px);
}

main {
	position: relative;
	width: min(var(--content-width), 80vw + var(--content-margin));
	padding: var(--content-margin);
	background-color: var(--page-bg);
}

h1 {
	text-align: center;
}

.headinglink {
	color: black;
	text-decoration: none;
}
.headinglink:visited {
	color: black;
}
.sectionmark {
	display: none;
}
.headinglink:hover ~ .sectionmark {
	display: inline;
}

.backarrow {
	text-decoration: none;
	position: absolute;
	color: inherit;
}
.backarrow:visited {
	color: inherit;
}
.date {
	right: var(--content-margin);
	position: absolute;
}
#copy-notice {
	text-align: right;
	font-size: small;
}

p {
	margin: 0;
	text-indent: 1.5em;
	text-align: justify;
	text-wrap: pretty;
}

a {
	color: #000099;
}
a:visited {
	color: #480048;
}

pre.block {
	white-space: pre-wrap;
	word-break: break-all;
	border-radius: 5px;
	background-color: var(--code-bg);
}
/* Note this should be --content-width but variables don't work here. */
@media (max-width : 39rem) {
	pre.block {
		word-break: keep-all;
		white-space: pre;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

code.block {
	background-color: transparent;
}

code {
	font-size: initial;
	border-radius: 5px;
	background-color: var(--code-bg);
}

math {
	font-family: STIXTwoMath;
	overflow-x: auto;
	overflow-y: hidden;
}
.no-bullet {
	padding: 0;
}
.no-bullet li {
	list-style-type: none;
}
.math-stack-right {
	math-style: normal;
	text-align: left;
}
.math-stack-left {
	math-style: normal;
	/* This makes the alignment worse since it isn't implemented. */
	/* text-align: right; */
}
